.heading {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;

    &-text {
        font-size: size(xl) * 2;
        font-weight: lighter;  
        font-family: "yekan", sans-serif;
        font-style: italic;
        font-weight: bold;    
    }

}