@font-face {
    font-family: vazir;
    src: url("Vazir.woff2") format("woff2");
  }

@font-face {
    font-family: yekan;
    src: url("Yekan.woff") format("woff");
}  

* {
    margin: 0;
    padding: 0;
    font-family: 'vazir', sans-serif;
}

html {
    font-size: 62.5%;

   @include response(md) {
        font-size: 56.25%;
   } 

   @include response(sm) {
        font-size: 50%;
   } 
}

.container{
    display: grid;
    grid-template-columns: minmax(6rem,1fr) repeat(8,minmax(min-content,16rem))  minmax(6rem,1fr);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 1.6rem;
    background-color: color(tertiary);
}